<!--contenu du jeu de carte-->
<div class="flex flex-column w-full">

  <!-- Message erreur de chargement-->
  <div class="flex justify-content-center h-3rem">
    <div *ngIf="(isGameLoadingSuccess$ | async) === false">
      <p-message severity="error"> Oups le jeu ne s'est pas chargé correctement. </p-message>
    </div>
  </div>

  <!--Text de presentation-->
  <div *ngIf="isPresentationTextVisible$ | async as isPresentationTextVisible">
    <div *ngIf="presentationText$ | async as presentationText">
      <p>{{presentationText}}</p>
    </div>
  </div>

  <!-- Carte à trouver -->
  <div *ngIf="(isCardToFindInGameVisible$ | async) === false">
    <app-card-to-find-in-game></app-card-to-find-in-game>
  </div>

  <div class="w-full flex align-items-center" *ngIf="(isGameLoadingSuccess$ | async) === true">

    <!-- compte a rebour avant debut du jeu-->
    <div *ngIf="timeToObservBeforeStart$ | async as timeToObservBeforeStart">
      <span>{{ timeToObservBeforeStart }}</span>
    </div>

    <!-- jeux de cartes-->
    <div class="grid w-full p-5">
      <app-card class="col-4 md:col-2" [isGameReadyToPlay]="(isGameReadyToPlay$ | async)" [card]=card *ngFor="let card of cards$ | async"></app-card>

    </div>

     <!-- Nombre d'erreur autorisé-->
    <div *ngIf="cardGame$ | async as cardGame">
      {{cardGame.maxErrorQuantity}}
    </div>
  </div>
</div>
